/* Absans - Fixed weight but versatile */
@font-face {
  font-family: 'Absans';
  src: url('../fonts/typefaces/Absans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Aujournuit - Variable version */
@font-face {
  font-family: 'Aujournuit';
  src: url('../fonts/typefaces/Aujournuit-VariableVF.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* General Sans - Variable version */
@font-face {
  font-family: 'General Sans';
  src: url('../fonts/typefaces/GeneralSans-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Ronzino - Using Regular as base */
@font-face {
  font-family: 'Ronzino';
  src: url('../fonts/typefaces/Ronzino-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Satoshi - Variable version */
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/typefaces/Satoshi-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}