/* Absans - Fixed weight but versatile */
@font-face {
  font-family: 'Absans';
  src: url('../fonts/typefaces/Absans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Aujournuit - Variable version */
@font-face {
  font-family: 'Aujournuit';
  src: url('../fonts/typefaces/Aujournuit-VariableVF.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* General Sans - Variable version */
@font-face {
  font-family: 'General Sans';
  src: url('../fonts/typefaces/GeneralSans-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Ronzino - Using Regular as base */
@font-face {
  font-family: 'Ronzino';
  src: url('../fonts/typefaces/Ronzino-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Satoshi - Variable version */
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/typefaces/Satoshi-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Delight;
  src: url('../fonts/typefaces/delight-light.otf') format('opentype');
  // font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Humane;
  src: url('../fonts/typefaces/Humane-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Darwin;
  src: url('../fonts/typefaces/darwinserif-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: MajorMono;
  src: url('../fonts/typefaces/MajorMonoDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}